table{
    border: 1px solid;
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    background-color: white;
    border: 2px solid #0a0a0a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

th, td {
    border: 1px solid;
    padding: 8px;
    text-align: left;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50px;
}

body {
    background-color: rgb(0, 24, 245);
}

#dados {
    text-align: center;
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 500px; 
    margin: 0 auto; 
    font-family: 'Arial', sans-serif; 
    margin: 20px auto;
}

#dados label {
    display: block; 
    margin-bottom: 6px; 
    font-size: 20px;
    color: black;
}

#dados input {
    width: 30%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#dados button {
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
    font-weight: bold;
    font-size: 18px; 
    margin-bottom: 20px;
}

#dados button:hover {
    background-color: #177ae4; 
}

h2{
    font-size: 30px;
    margin-top: 10px;
    color: rgb(20, 19, 19);
    text-align: center;
}

#cad{
    text-align: center;
    background-color: white; 
    padding: 20px; 
    border-radius: 10px; 
    max-width: 500px; 
    margin: 20px auto; 
    margin-bottom: 20px;
}

#cad h2{
    text-align: center;
    color: rgb(20, 19, 19);
    font-size: 30px;
}

#cad table {
    margin-top: 20px; 
}

#limpar input {
    margin-bottom: 20px;
}
#limpar {
    margin-bottom: 20px;
}
